body {
background-image: url("../images/harrypotter.jpg");
background-size: cover;
}

h1 {
	margin-top: 150px;
	font-size: 75px;
	text-align: center;
	color: white;
	font-family: 'Skranji', cursive;
}

#start {
	width: 180px;
	height: 180px;
	position: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
    
h2, h4, h5 {
	text-align: center;
	color: white;
	font-family: 'Skranji', cursive;
}
#quiz {
	display: none;
}
#results {
	display: none;
}
.btn {
	margin-left: 120px;
}
/*.btn:not(:last-child) {
    border-right: none; /* Prevent double borders */

.btn:hover {
    background-color: #3e8e41;
}
/*answered this class will have a green. in jquery, do a .button.click(function() */
.btn.selected {
    background-color: green;
}

.btn.incorrect {
    background-color: red;
}